@{
    ViewBag.Title = "SRO Activities";
    Layout = null;
}

<div class="portlet box green">
	@GlobalHelper.PortletHead("", "SRO Activities - "+@ViewBag.UserSessionData.SchoolName, "fa fa-home",1)
	<div class="portlet-body">
		<div class="row widget-row">
				&nbsp;Grid Here
		</div>
	</div>
</div>




